<app-layout>
    <div class="flex flex-col w-full gap-3">
        <div class="flex justify-between items-center bg-white rounded-md p-3 w-full">
            <div class="flex flex-col gap-0">
                <p class="text-blue-500 text-lg font-semibold">
                    History Pembelian
                </p>
                <p class="text-gray-600 text-xs">
                    Lihat history pembelian barang Anda disini
                </p>
            </div>

            <div class="flex gap-2">
                <p-button styleClass="p-button-sm p-button-secondary" label="Tambah" icon="pi pi-plus"
                    (onClick)="onClickButtonAdd()">
                </p-button>

                <p-button styleClass="p-button-sm p-button-info" label="Export" (onClick)="menu.toggle($event)"
                    icon="pi pi-file">
                </p-button>

                <p-button styleClass="p-button-sm p-button-danger ml-2" label="Batal" icon="pi pi-times"
                    (onClick)="onClickButtonBatal()">
                </p-button>
            </div>
        </div>

        <div class="grid">
            <app-grid [props]="GridProps" (rowDoubleClicked)="onRowDoubleClicked($event)"
                (cellClicked)="onCellClicked($event)">
            </app-grid>
        </div>
    </div>

    <p-menu #menu [model]="items" [popup]="true"></p-menu>

    <!-- Confirmation Dialog -->
    <p-confirmDialog></p-confirmDialog>
</app-layout>