<section class="w-screen h-screen flex items-center justify-center bg-blue-500">
    <div class="flex flex-row h-full w-8/12 p-5 justify-center items-center">
        <!-- Navigate Prev -->
        <div class="w-1/12 text-start" (click)="onNavigateFeature('prev', this.SelectedFeature)">
            <span class="bg-gray-500 px-2 py-1 rounded-md cursor-pointer">
                <i class="pi pi-chevron-left text-gray-100" style="font-size: 12px"></i>
            </span>
        </div>

        <!-- Feature -->
        <div class="flex flex-col h-full w-8/12 justify-center items-center">
            <img [src]="Features[SelectedFeature].image" alt="" class="w-full h-auto rounded-lg shadow-sm mb-5">
            <p class="text-gray-100 text-2xl mb-1">
                {{ Features[SelectedFeature].title }}
            </p>
            <p class="text-gray-100 text-sm text-center ">
                {{ Features[SelectedFeature].description }}
            </p>
        </div>

        <!-- Navigate Next -->
        <div class="w-1/12 text-end" (click)="onNavigateFeature('next', this.SelectedFeature)">
            <span class="bg-gray-500 px-2 py-1 rounded-md cursor-pointer">
                <i class="pi pi-chevron-right text-gray-100" style="font-size: 12px"></i>
            </span>
        </div>
    </div>
    <div class="flex flex-col w-6/12 md:w-4/12 h-full bg-white items-center justify-center p-3 rounded-l-xl shadow-sm"
        [formGroup]="Form">
        <img src="../../../assets/pos.png" alt="" class="w-10 mx-auto mb-2">

        <p class="text-blue-500 font-semibold text-2xl text-center">
            BUDGET POSKU
        </p>

        <p class="text-gray-700 text-center text-sm mb-5">
            Sign In ke Akun Anda
        </p>

        <!-- Email -->
        <div class="flex flex-col gap-1 w-full mb-4">
            <p class="text-gray-600 text-sm">
                Email
            </p>
            <input type="text" pInputText class="p-inputtext-sm w-full" placeholder="Input email anda disini"
                formControlName="email">
        </div>

        <!-- Password -->
        <div class="flex flex-col gap-1 w-full mb-5">
            <p class="text-gray-600 text-sm">
                Password
            </p>
            <p-password styleClass="p-inputtext-sm w-full" [feedback]="false" [toggleMask]="true"
                placeholder="Input password anda disini" formControlName="password" (keyup.enter)="onSignIn()">
            </p-password>
        </div>

        <!-- Button -->
        <div class="flex flex-col gap-1 w-full mb-3">
            <p-button styleClass="p-button-sm p-button-info w-full" label="Sign In" (onClick)="onSignIn()"></p-button>
        </div>

        <div class="flex flex-col gap-1 w-full">
            <p class="text-gray-700 text-sm text-center">
                v0.0.1-prod
            </p>
        </div>
    </div>
</section>